Source: ros-humble-pmb2-rgbd-sensors
Section: misc
Priority: optional
Maintainer: "Antonio Brandi" <antonio.brandi@pal-robotics.com>
Build-Depends: debhelper (>= 9.0.0), ros-humble-ament-cmake-auto, ros-humble-ament-lint-auto <!nocheck>, ros-humble-ament-lint-common <!nocheck>, ros-humble-ros-workspace
Homepage: https://index.ros.org/p/pmb2_rgbd_sensors/#humble
Standards-Version: 3.9.2

Package: ros-humble-pmb2-rgbd-sensors
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-humble-ament-index-python, ros-humble-diagnostic-updater, ros-humble-launch-pal, ros-humble-rclcpp-components, ros-humble-rclpy, ros-humble-ros2launch, ros-humble-ros-workspace
Description: pmb2-specific RGBD sensors module and params files.
